*~
*.pyc
*.swp
*.la
*.lo
*.o
.deps
.dirstamp
autom4te.cache
aclocal.m4
m4/libtool.m4
m4/lt*.m4
ltmain.sh
libtool
config.guess
config.log
config.sub
config.status
configure
compile
depcomp
install-sh
missing
.libs/
Makefile
Makefile.in

picosel/picosel
ccfx/ccfx
*.ccfxd
*.ccfxprep
